/* ProductDetails.css */

.product-details {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
}

.product-image {
  flex: 1;
}

.product-image img {
  width: 100%;
  height: auto;
}

.product-info {
  flex: 2;
  padding: 20px;
}

.product-info h2 {
  margin-bottom: 10px;
}

.product-info p {
  margin-bottom: 10px;
}
