.user-info {
  display: flex;
  align-items: center;
}

.comment-card {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.comment-card p {
  margin-bottom: 0.5rem;
}
.comment-form {
  display: flex;
  margin-bottom: 1rem;
}

.comment-form input {
  flex-grow: 1;
  margin-right: 0.5rem;
}
